{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Destinos</h1>
    <div class="main-content">
        <!-- Contenido principal de la página -->
        <ul class="destination-list">
            {% for destination in destinations %}
            <li class="destination-item">
                <h2>{{ destination.nombreCiudad }}</h2>
                <p>{{ destination.descripcionCiudad }}</p>
                <img src="/{{ destination.imagenCiudad }}" alt="{{ destination.nombreCiudad }}">
                <p>-Precio: {{ destination.precioTour }} </p>
                <p>-Oferta: {% if destination.ofertaTour %}Sí{% else %}No{% endif %}</p>
                <a href="{% url 'update_destination' destination.id %}">Actualizar</a>
                <a href="{% url 'delete_destination' destination.id %}">Eliminar</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}